apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sql-payments-pvc
  namespace: microservices
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sql-payments
  namespace: microservices
spec:
  replicas: 1
  strategy:
    type: Recreate  # Importante para banco de dados
  selector:
    matchLabels:
      app: sql-payments
  template:
    metadata:
      labels:
        app: sql-payments
        tier: database
    spec:
      containers:
      - name: mssql
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
        - containerPort: 1433
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: MSSQL_SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sqlserver-credentials
              key: sa-password
        - name: MSSQL_PID
          value: "Developer"
        volumeMounts:
        - name: mssql-data
          mountPath: /var/opt/mssql
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "4Gi"
            cpu: "1000m"
      
      volumes:
      - name: mssql-data
        persistentVolumeClaim:
          claimName: sql-payments-pvc